@mixin bg-pattern() {
  background: url(../images/bg-tablet-pattern.svg);
  background-size: contain;
  background-position: top -5rem right -5rem;
  background-repeat: no-repeat;
}

@mixin btn($bg-color, $color) {
  padding: 1.45rem 2.5rem;

  border: none;
  border-radius: 75px;
  box-shadow: 0px 6px 26px -9px $color-primary-red;
  background-color: $bg-color;

  font-weight: $font-weight-bold;
  color: $color;
}

@mixin input {
  padding: 16px 23px;
  margin-right: 6px;
  width: 237px;
  border: none;
  border-radius: 65px;
  outline: none;
}

@mixin slogan($font-size, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight-medium;
  color: $color-primary-blue;
  line-height: $line-height;

  @media only screen and (min-width: 1200px) {
    font-weight: $font-weight-bold;
  }
}

%desc {
  font-size: $font-size-desc;
  padding: 1.8rem 3.5rem 3.2rem;
  color: $color-neutral-blue;
  line-height: 2rem;
}
