$color-root: #000000;
$color-primary-red: hsl(12, 88%, 59%);
$color-primary-blue: hsl(228, 39%, 23%);
$color-neutral-blue: hsl(227, 12%, 61%);
$color-neutral-dark-blue: hsl(233, 12%, 13%);
$color-neutral-red: hsl(13, 100%, 96%);
$color-neutral-gray: hsl(0, 0%, 98%);
$color-red-light: #f25f3a24;

$font-size: 10px;
$font-size-desc: $font-size + 2.8px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$bg-color-primary: white;

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;
