.footer {
  color: $bg-color-primary;
  background-color: $color-neutral-dark-blue;

  > .container {
    padding-top: 5rem;
  }

  &__search {
    > input {
      @include input;
    }
    > button {
      @include btn($color-primary-red, $bg-color-primary);
    }
  }
  &__options {
    padding: 5rem 5rem;
    column-count: 2;
    column-gap: 11rem;
    text-align: left;

    > a {
      display: inline-block;
      font-size: 12px;
      color: $bg-color-primary;
      margin-bottom: 23px;
    }
  }
  &__social-logos {
    &__content {
      > li {
        display: inline-block;
        margin: 0 1.5rem;
        cursor: pointer;
        > img {
          min-height: 3rem;
        }
      }
    }
  }
  &__logo {
    margin: 4.5rem 0 9rem;
    cursor: pointer;
  }
  &__copyright {
    padding-bottom: 2.5rem;
  }
  @media only screen and (min-width: 1200px) {
    .container {
      flex-direction: column;
      flex-wrap: wrap;
      height: 250px;
      padding-top: 0;
    }
    &__search {
      order: 3;
      padding-top: 5rem;
    }
    &__options {
      order: 2;
      width: 350px;

      > a:hover {
        color: $color-primary-red;
      }
    }
    &__social-logos {
      order: 1;
    }
    &__logo {
      order: 0;
    }
    &__copyright {
      order: 4;
      margin-top: 6rem;
    }
  }
}
